@model IEnumerable<Lab3.Models.Fine>
@{
    ViewData["Title"] = "Fines";
}

<h1>Fines</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.amount)
          </td>
            @if (item.paid == false)
            {
            <td>
                No
            </td>
            }
            else
            {
            <td>
                Yes
            </td>
            }
            @if (item.paid == false)
            {
                <td>
                    <a asp-action="PayFine" asp-route-borrowID="@item.borrowid">Pay</a>
                </td>
            }
        </tr>
        }
    </tbody>
